/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

    /*********************************************************/
    /********************** FONTS BOOKI **********************/
    /*********************************************************/

/**************************************************/
/******************** BASE ************************/
/**************************************************/
body{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #222;
}
a{
    text-decoration: none;
    color: unset;
}


/**************************************************/
/*************** SECTION 1 - HEADER ***************/
/**************************************************/
.header-nav ul{
    text-align: center;
}
.header-nav-item{
    font-size: 1.4rem;
    font-weight: 600;
}

h1,
h2,
.search-info p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.search-txt,
.search-btn{
    font-size: var(--fz-search);
    font-weight: 600;
}
.search-txt{
    color: #000;
}
.search-btn{
    color: #fff;
}
.search-info{
    font-size: 1.4rem;
    line-height: 1.5em;
}

.toggle-box p, .toggle{
    font-size: var(--fz-button);
    font-weight: 600;
  }
 
 
  
 
/**************************************************/
/**************** SECTION 2 - MAIN ****************/
/**************************************************/
.homes-more-link{
    font-size: 1.6rem;
    font-weight: 700;
}
.main-cards-title{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2em;
}
.main-prices{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .01em;
}



/****************************************************/
/**************** SECTION 3 - FOOTER ****************/
/****************************************************/
.footer-section{
    line-height: 2.5rem;
}
.footer-links{
    font-size: 1.4rem;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
}





